---
import Socials from "./Socials.astro";
---

<footer>
    <div id="contact-us">
		<p>Contact</p>

		<p>
            If you would like to learn about our <br>
            training program, or are interested <br>
            in contracting us for your <br>
            cybersecurity needs, then contact <br>
            us now.
        </p>
	</div>

    <Socials link="Linkedin" username="in/antiguarecon"/>
    <Socials link="Twitter" username="antiguarecon"/>
    <Socials link="Facebook" username="antiguarecon"/>

    <p>&copy; 2022 | AntigualRecon | 268.764.8362 | <a href="/privacy-policy/">Privacy Policy</a></p>
</footer>